{% extends 'base.html'%}
{% load  static %}
{% block content %}

    <title>Payment</title>
    <style>
        /* body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        } */

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .payment-option {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .payment-option input[type="radio"] {
            margin-right: 10px;
        }

        .payment-option label {
            cursor: pointer;
        }

        .pay-button {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .pay-button:hover {
            background-color: #0056b3;
        }
    </style>



    <div class="container">
        <h2 style="text-align: center;">Select Payment Method</h2>
        <div class="payment-option">
            <input type="radio" id="cashOnDelivery" name="paymentMethod" checked>
            <label for="cashOnDelivery">Cash on Delivery</label>
        </div>
        <div class="payment-option">
            <input type="radio" id="upi" name="paymentMethod">
            <label for="upi">UPI</label>
        </div>
        <button class="pay-button">Proceed to Pay</button>
    </div>

    {% endblock %}